useDynLib(polyRAD)

export(AddAlleleFreqByTaxa, AddAlleleFreqHWE, AddAlleleFreqMapping,
       AddAlleleLinkages, AddGenotypeLikelihood,  
AddGenotypePosteriorProb,  AddGenotypePriorProb_ByTaxa,
AddGenotypePriorProb_Even,
AddGenotypePriorProb_HWE, AddGenotypePriorProb_LD,
AddGenotypePriorProb_Mapping2Parents, AddPCA,
AddPloidyChiSq, AddPloidyLikelihood, AddPriorTimesLikelihood,
CanDoGetWeightedMeanGeno, EstimateContaminationRate, ExportGAPIT,
Export_polymapR, Export_rrBLUP_Amat, Export_rrBLUP_GWAS,
Export_TASSEL_Numeric, GetAlleleNames,
GetBlankTaxa, GetContamRate, GetDonorParent, GetLikelyGen, 
GetLocDepth, GetLoci, GetProbableGenotypes, GetRecurrentParent, 
GetTaxa, GetWeightedMeanGenotypes, IterateHWE, IterateHWE_LD,
IteratePopStruct, IteratePopStructLD, LocusInfo, MakeTasselVcfFilter,
MergeRareHaplotypes, MergeTaxaDepth, nTaxa, nAlleles, nLoci,
OneAllelePerMarker, 
PipelineMapping2Parents, RADdata, readHMC, readStacks, readTagDigger,
readTASSELGBSv2, RemoveHighDepthLoci, RemoveMonomorphicLoci,
SetBlankTaxa, SetContamRate, SetDonorParent, SetRecurrentParent,
SplitByChromosome, StripDown, SubsetByLocus, SubsetByTaxon, 
TestOverdispersion, VCF2RADdata)

importFrom("stats", "dist", "dmultinom", "pchisq", "lm", "na.omit", "dbinom",
           "hclust", "cutree", "as.dist", "cor", "residuals", "lm.fit", "sd")
importFrom("utils", "read.csv", "write.table")
importFrom("fastmatch", "%fin%")
importFrom("methods", "is")
importFrom("Rcpp", "evalCpp")
importFrom("graphics", "plot", "points", "text")

S3method(print, RADdata)
S3method(AddAlleleFreqByTaxa, RADdata)
S3method(AddAlleleFreqHWE, RADdata)
S3method(AddAlleleFreqMapping, RADdata)
S3method(AddAlleleLinkages, RADdata)
S3method(AddGenotypeLikelihood, RADdata)
S3method(AddGenotypePosteriorProb, RADdata)
S3method(AddGenotypePriorProb_ByTaxa, RADdata)
S3method(AddGenotypePriorProb_Even, RADdata)
S3method(AddGenotypePriorProb_HWE, RADdata)
S3method(AddGenotypePriorProb_LD, RADdata)
S3method(AddGenotypePriorProb_Mapping2Parents, RADdata)
S3method(AddPCA, RADdata)
S3method(AddPloidyChiSq, RADdata)
S3method(AddPloidyLikelihood, RADdata)
S3method(AddPriorTimesLikelihood, RADdata)
S3method(CanDoGetWeightedMeanGeno, RADdata)
S3method(EstimateContaminationRate, RADdata)
S3method(GetAlleleNames, RADdata)
S3method(GetBlankTaxa, RADdata)
S3method(GetContamRate, RADdata)
S3method(GetDonorParent, RADdata)
S3method(GetLikelyGen, RADdata)
S3method(GetLocDepth, RADdata)
S3method(GetLoci, RADdata)
S3method(GetProbableGenotypes, RADdata)
S3method(GetRecurrentParent, RADdata)
S3method(GetTaxa, RADdata)
S3method(GetWeightedMeanGenotypes, RADdata)
S3method(LocusInfo, RADdata)
S3method(MergeRareHaplotypes, RADdata)
S3method(MergeTaxaDepth, RADdata)
S3method(nAlleles, RADdata)
S3method(nLoci, RADdata)
S3method(nTaxa, RADdata)
S3method(OneAllelePerMarker, RADdata)
S3method(plot, RADdata)
S3method(RemoveHighDepthLoci, RADdata)
S3method(RemoveMonomorphicLoci, RADdata)
S3method(SetBlankTaxa, RADdata)
S3method(SetContamRate, RADdata)
S3method(SetDonorParent, RADdata)
S3method(SetRecurrentParent, RADdata)
S3method(SplitByChromosome, RADdata)
S3method(SubsetByLocus, RADdata)
S3method(SubsetByTaxon, RADdata)
S3method(StripDown, RADdata)
S3method(TestOverdispersion, RADdata)
