export(AddAlleleFreqByTaxa, AddAlleleFreqHWE, AddAlleleFreqMapping,
       AddGenotypeLikelihood,  
AddGenotypePosteriorProb,  AddGenotypePriorProb_ByTaxa,
AddGenotypePriorProb_HWE,
AddGenotypePriorProb_Mapping2Parents, AddPCA,
AddPloidyChiSq, AddPloidyLikelihood, AddPriorTimesLikelihood,
CanDoGetWeightedMeanGeno, ExportGAPIT,
Export_rrBLUP_Amat, Export_rrBLUP_GWAS, Export_TASSEL_Numeric,
GetAlleleNames,
GetBlankTaxa, GetContamRate, GetDonorParent, GetLikelyGen, 
GetLocDepth, GetLoci, GetRecurrentParent, GetTaxa, 
GetWeightedMeanGenotypes, IterateHWE, IteratePopStruct,
MakeTasselVcfFilter, nTaxa, nAlleles, OneAllelePerMarker, 
PipelineMapping2Parents, RADdata, readHMC, readStacks1, readTagDigger,
SetBlankTaxa, SetContamRate, SetDonorParent, SetRecurrentParent,
SplitByChromosome, StripDown, SubsetByLocus, SubsetByTaxon, VCF2RADdata)

importFrom("stats", "dist", "dmultinom", "pchisq", "lm", "na.omit", "dbinom",
           "hclust", "cutree", "as.dist", "cor", "residuals")
importFrom("utils", "read.csv", "write.table")
importFrom("fastmatch", "%fin%")
importFrom("methods", "is")

S3method(print, RADdata)
S3method(AddAlleleFreqByTaxa, RADdata)
S3method(AddAlleleFreqHWE, RADdata)
S3method(AddAlleleFreqMapping, RADdata)
S3method(AddGenotypeLikelihood, RADdata)
S3method(AddGenotypePosteriorProb, RADdata)
S3method(AddGenotypePriorProb_ByTaxa, RADdata)
S3method(AddGenotypePriorProb_HWE, RADdata)
S3method(AddGenotypePriorProb_Mapping2Parents, RADdata)
S3method(AddPCA, RADdata)
S3method(AddPloidyChiSq, RADdata)
S3method(AddPloidyLikelihood, RADdata)
S3method(AddPriorTimesLikelihood, RADdata)
S3method(CanDoGetWeightedMeanGeno, RADdata)
S3method(GetAlleleNames, RADdata)
S3method(GetBlankTaxa, RADdata)
S3method(GetContamRate, RADdata)
S3method(GetDonorParent, RADdata)
S3method(GetLikelyGen, RADdata)
S3method(GetLocDepth, RADdata)
S3method(GetLoci, RADdata)
S3method(GetRecurrentParent, RADdata)
S3method(GetTaxa, RADdata)
S3method(GetWeightedMeanGenotypes, RADdata)
S3method(nAlleles, RADdata)
S3method(nTaxa, RADdata)
S3method(OneAllelePerMarker, RADdata)
S3method(SetBlankTaxa, RADdata)
S3method(SetContamRate, RADdata)
S3method(SetDonorParent, RADdata)
S3method(SetRecurrentParent, RADdata)
S3method(SplitByChromosome, RADdata)
S3method(SubsetByLocus, RADdata)
S3method(SubsetByTaxon, RADdata)
S3method(StripDown, RADdata)
